* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hex codes: #272727, #747474, #FF652F*/
/* maybe codes: #FFE400, #14A76C */

body {
  height: 100dvh;
  font-family: "Sora", sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  background-color: #272727;
  color: #747474;
}

header,
main,
footer {
  text-align: center;
  min-width: 90dvw;
}

/* Typography */
h1 {
  color: #14a76c;
  margin-bottom: 2.5rem;
}

p {
  margin-bottom: 0.75rem;
}
.cookie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cookie-btn-container {
}

.cookie-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 250px;
  margin-bottom: 0.75em;
}

.cookie-info p {
  margin-bottom: 0;
}

.upgrade {
  animation-duration: 1.5s;
  animation-name: slide-up;
  border: 1px solid #ff652f;
  border-radius: 6px;
  margin-bottom: 2em;
  padding: 0.75em;
}

@keyframes slide-up {
  from {
    transform: translateY(1000px);
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

.upgrade p {
  font-size: 1.2rem;
}

.upgrade button {
  color: #ffe400;
  font-size: 1.1rem;
  background: none;
  cursor: pointer;
  border: 1px solid #ff652f;
  padding: 0.75em;
  border-radius: 6px;
}

.upgrades-btn-para-container {
  border: 1px solid #ff652f;
  border-radius: 6px;
  padding: 0.75em;
  margin-bottom: 0.75em;
}

.hidden {
  display: none;
}

.fa-square-caret-down {
  color: #ffe400;
  font-size: 3rem;
}

.fa-volume-high,
.fa-volume-xmark {
  color: #ffe400;
  font-size: 1.5rem;
}

/* Buttons */
button {
  cursor: pointer;
}

.audio {
  border: none;
  background: none;
}

.cookie-increment-btn {
  border: none;
  background: none;
}

.button-img {
  max-width: 200px;
}

.reset {
  color: #14a76c;
  font-size: 1.1rem;
  background: none;
  border: 1px solid #14a76c;
  padding: 0.75em;
  border-radius: 6px;
}

.reset:hover {
  background-color: #454545;
  color: #4c9f7e;
  transform: translateY(-0.25em);
}

.upgrade button:hover {
  color: #fdec5a;
  background-color: #454545;
  transform: translateY(-0.25em);
}

.cookie-upgrades-btn {
  background: none;
  border: none;
  padding: 0;
  font-size: 1.5rem;
}

.cookie-upgrades-btn:hover {
  transform: translateY(-0.1em);
}
