* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  font-family: "Sora", sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  background-color: #272727;
  color: #747474;
}

header {
  margin-bottom: 2.5em;
}

header,
main,
footer {
  text-align: center;
  min-width: 90dvw;
}

/* Typography */
h1 {
  font-weight: 800;
  color: #ff652f;
  padding: 0.5em;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}

.intruct-para {
  font-size: 1.1rem;
}

p {
  margin-bottom: 0.75rem;
}

.highlight {
  color: #ff652f;
}

footer {
  font-size: 0.75rem;
}
.potato-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.potato-container p {
  font-size: 1.3rem;
}

.potato-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.75em;
}

.potato-info p {
  margin-bottom: 0;
}

.upgrade {
  animation-duration: 1.5s;
  animation-name: slide-up;
  border: 1px solid #ff652f;
  border-radius: 6px;
  margin-bottom: 2em;
  padding: 0.75em;
}

@keyframes slide-up {
  from {
    transform: translateY(1000px);
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

.upgrade p {
  font-size: 1.2rem;
}

.upgrade button {
  color: #ffe400;
  font-size: 1.1rem;
  background: none;
  cursor: pointer;
  border: 1px solid #ff652f;
  padding: 0.75em;
  border-radius: 6px;
}

.upgrades-btn-para-container {
  border: 1px solid #ff652f;
  border-radius: 6px;
  padding: 0.75em;
  margin-bottom: 0.75em;
}

.upgrades-btn-para-container {
  font-size: 1.3rem;
}

.hidden {
  display: none;
}

.announcements {
  max-width: 300px;
}

.fa-square-caret-down {
  color: #ffe400;
  font-size: 3rem;
}

.fa-volume-high,
.fa-volume-xmark {
  color: #ffe400;
  font-size: 1.5rem;
}

/* Buttons */
button {
  cursor: pointer;
}

header button {
  margin-bottom: 2.5em;
}

.audio {
  border: none;
  background: none;
}

.potato-increment-btn {
  border: none;
  background: none;
}

.button-img {
  max-width: 200px;
}

.reset {
  color: #ffe400;
  font-size: 1.1rem;
  background: none;
  border: 1px solid #ff652f;
  padding: 0.75em;
  border-radius: 6px;
  cursor: pointer;
}

.upgrade button:hover,
.reset:hover {
  color: #fdec5a;
  background-color: #454545;
  transform: translateY(-0.25em);
}

.potato-upgrades-btn {
  background: none;
  border: none;
  padding: 0;
  font-size: 1.5rem;
}

.potato-upgrades-btn:hover {
  transform: translateY(-0.1em);
}

/* media queries */
@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  .potato-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .potato-btn-container {
    grid-column: 2 / 3;
    grid-row: 2 / -2;
  }

  .total-potatoes {
    grid-column: 1 / 2;
    align-self: center;
  }

  .potato-info {
    display: block;
    margin-bottom: 1em;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
  }

  .potato-info p {
    margin-bottom: 1em;
  }

  .potato-info p,
  .total-potatoes,
  .upgrades-btn-para-container,
  .upgrade button {
    font-size: 1.3rem;
  }

  .announcements {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .upgrades-btn-para-container {
    display: grid;
  }

  .upgrade {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .upgrade button {
    justify-self: center;
    width: 20dvw;
  }

  .upgrade p {
    align-self: center;
    margin-bottom: 0;
  }

  .reset {
    font-size: 1.3rem;
  }
}

@media (min-width: 1200px) {
  main,
  .potato-container,
  .upgrades-wrapper {
    margin: 0 auto;
    min-width: none;
    max-width: 900px;
  }
}
